# This file can be modified by tmp-leadership or devops teams only #
/.github/CODEOWNERS @datorama/tmp-leadership @datorama/devops @datorama/automation-infra

* crazypixel@gmail.com
* ashinaar@salesforce.com
